.dart_tool/
.packages
build/
*.iml
*.log
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/android/app/google-services.json
/android/key.properties
/ios/Pods/
/ios/Flutter/Flutter.podspec
